
<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>


<div hx-trigger="load hx-swap="innerHTML" hx-get="/main">


<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>
